body {
    background-color: #f5d9df;
    font-family: 'Nunito', sans-serif;
}

#topNavbar .navbar-brand, #topNavbar .navbar-brand:hover {
    color: #ea1c2c;
    font-size: 1.4em;
    font-weight: 300;
}

#topNavbar .nav-link {
    color: white;
    font-size: 1.4em;
    font-weight: 100;
}

#topNavbar .nav-link:hover {
    color: #ea1c2c;
}

#moc h1 {
    color: white;
    font-weight: 200;
    font-size: 2.8em;
}

#moc span {
    color: #ea1c2c;
}



.lead h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 1.6em;
}

.lead p {
    color: #fa4786;
    font-weight: 100;
    font-size: 0.9em;
}

.scrolled {
    background-color: #dec0de;
}

h3 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 1.3em;
}

/* Pricing */
.pricing {
    text-align: center;
    padding: 20px;
  }
  
  table {
    margin: 0 auto;
    margin-top: 12%;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 18px;
  }
  
  th {
    background-color: #f290d5;
    color: white;
  }
  
  
  h2 {
    margin-bottom: 20px;
  }
  

@media (min-width: 1200px) {
    #moc h1 {
        font-size: 3.5em;
    } 

    .lead h2 {
        font-size: 2em;
    }
}